$container-width: 1200px;

$board-width: 850px;
$board-height: 550px;

$interface-width: 300px;
$max-image-width: 276px;
$max-image-height: 255px;


$btn-result-height: 50px;
$btn-clean-width: 93px;
$btn-save-width: 196px;

$get-img-form-height: 330px;

$btn-decoration-size: 93px;