@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'variables';

* {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

html { 
    overflow:  hidden; 
}

.container {
    width: $container-width;
    margin: 0 auto;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 180, 180, 0);
    top:0;
    z-index: -1;
    transition: 1s all;
}

header {
    background: linear-gradient(180deg, #EDEDED 0%, rgba(121, 121, 121, 0) 80%);
    min-width: $container-width;
    height: 70px;
    .menu__wrapper {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            color: #D7D7D7;
            margin: 0;
            font-weight: 500;
        }
    }
}

.main {
    min-height: calc(100vh - 30px - 70px);
    &__wrapper {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .board__wrapper {
            z-index: 0;
            width: $board-width;
            height: $board-height;
            #canvas {
                transition: 0.5s all;
                width: $board-width;
                height: $board-height;
                background-color: #fff;
                background: url("../img/board/white_board.jpg") center center/cover no-repeat;
            }
            .draggableNewImg {
                max-width: $max-image-width;
                max-height: $max-image-height;
                object-fit: contain;
                position: absolute;
            }
            .pin {
                z-index: 1000;
                object-fit: contain;
                position: absolute;
            }
            .board-palette_container {
                z-index: 999;
                .palette {
                    z-index: 999;
                    position: absolute;
                    background-color: #eeeeee;
                    width: 70px;
                    height: 70px;
                    border: none;
                }
            } 
        }
    
        .interface {
            z-index: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            width: $interface-width;
            height: $board-height;
            .get_new_image__wrapper {
                padding: 4%;
                width: 100%;
                height: $get-img-form-height;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                background-color: #f0f0f0;
                #form_new_image-url {
                    width: 100%;
                    #new_image-url {
                        width: 100%;
                        padding: 8px;
                        border: none;
                        border: 1px solid rgb(174, 174, 174);
                        &:focus {
                            outline: none;
                            border: 1px solid black;
                        }
                    }
                    input::placeholder {
                        color: #c7c5c5;
                    }
                }
                #new_image__wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: $max-image-width;
                    height: $max-image-height;
                    background-color:#f0f0f0;
                    #new_image {
                        object-fit: contain;
                        max-width: 100%;
                        max-height: $max-image-height;
                        z-index: 0;
                    }
                    .draggableNewImg {
                        position: absolute;
                    }
                }
            }

            .decorations__wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                button {
                    border: none;
                    transition: 0.5s all;
                    filter: contrast(90%);
                    width: $btn-decoration-size;
                    height: $btn-decoration-size;
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        border: none;
                        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
                        padding: 0;
                        filter: contrast(100%);
                    }
                }
                #btn_switch_color {     
                    background: url("../img/btnStyle/cork_style.jpg") center center/cover no-repeat;
                }
                #btn_pins {
                    background: url("../img/btnStyle/white_style_pin.jpg") center center/cover no-repeat;
                }
                #btn_color {
                    background: url("../img/btnStyle/palette.jpg") center center/cover no-repeat;
                    &:hover {
                        box-shadow: 4px 4px 8px rgba(88, 88, 88, 0.25);
                        filter: contrast(95%);
                    }
                }
            }

            .btn__wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                #btn_clean {
                    border: none;
                    height: $btn-result-height;
                    width: $btn-clean-width;
                    background-color: rgb(255, 180, 180);
                    padding: 0;
                    transition: 0.5s all;
                    &:hover {
                        border: none;
                        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
                        background-color: rgb(253, 132, 132);
                        padding: 0;
                        cursor: pointer;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                #btn_save {
                    border: none;
                    height: $btn-result-height;
                    width: $btn-save-width;
                    background-color: rgb(180, 255, 199);
                    transition: 0.5s all;
                    &:hover {
                        border: none;
                        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
                        background-color: rgb(102, 248, 139);
                        padding: 0;
                        cursor: pointer;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }

    }
}

footer {
    background:  linear-gradient(180deg, rgba(121, 121, 121, 0) 12.81%, #EDEDED 100%);
    height: 30px;
    min-width: $container-width;
    .footer__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            margin: 0;
            margin-right: 15px;
            &:hover {
                svg {
                    path {
                        transition: 1s all;
                        fill: grey;
                    }
                }
            }
        }
        span {
            margin: 0;
            margin-right: 15px;
        }
    }
}

.overlay_with_result {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    height: $board-height;
	width: $interface-width;
    #continue {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $btn-result-height;
        width: $interface-width;
        background-color: rgb(255, 249, 180);
        font-size: 16px;
        transition: 0.5s all;
        &:hover {
            border: none;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
            background-color: rgb(253, 243, 130);
            padding: 0;
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
    img {
        margin-top: 50px;
    }
    p {
        margin: 0;
        font-size: 25px;
        text-align: center;
        &:hover {
            cursor: default;
        }
    }
    .p_header {
        background: linear-gradient(90deg, #FF0000 0%, #FFC700 21.15%, #25C90A 40.42%, #13CBCB 56.56%, #3A15CB 75.83%, #9E00FF 94.58%);
        background-clip: text;
        color: transparent;
        margin: 0;
        margin-top: 40px;
        font-size: 25px;
        text-align: center;
        &:hover {
            cursor: default;
        }
    }
}